<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button color="primary" (click)="pickPhoto()">Import from gallery</ion-button>

  <ion-button color="light" (click)="mockPhoto()">Mock photo</ion-button>

  <div *ngIf="imageService.image != null" padding-top>
    <ion-button color="secondary" routerDirection="forward" routerLink="/show">Show results</ion-button>
  </div>

</ion-content>
